body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgb(234, 232, 230);
  color: black;
}

button {
  background-color: white;
  margin-left: 1vmin;
  margin-right: 1vmin;
  transition: background-color 0.5s;
}

.nav-button {
  width: 4vmin;
  height: 4vmin;
  padding: 2%;
}

.opening-name {
  font-size: calc(10px + 3vmin);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2vmin;
  height: 5vmin;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-container {
  padding-top: 100px;
  display: grid;
  grid-template-columns: 3fr 3fr 200px 2fr;
  grid-gap: 1x;
}

.move-box-container {
  width: 20vw;
  max-width: 250px;
  min-width: 180px;
  overflow-y: auto;
  padding-left: 20px;
  height: calc(100vh - 100px);
  align-items: center;
}

.move-box {
  margin-top: 10px;
  width: 90%;
  min-height: 60px;
  height: auto;
  box-shadow: 1px 1px 5px #444444;
  border-style: solid;
  border: 2px solid #444444;
  border-radius: 5px;
  padding: 5px;
  transition: background-color 0.5s;
  background-color: white;
}

.move-box:hover {
  background-color: #dddddd;
}

button:hover {
  background-color: #dddddd;
}

button[disabled] {
  opacity: 0.4;
  cursor: not-allowed !important;
  background-color: white;
}
