.move-box {
  margin-bottom: 10px;
  min-height: 60px;
  height: auto;
  box-shadow: 1px 1px 5px #444444;
  border-style: solid;
  border: 2px solid #444444;
  border-radius: 5px;
  padding: 5px;
  transition: 0.2s;
  background-color: white;

  &:hover {
    background-color: #444444;
    color: white;
    box-shadow: 1px 1px 5px white;
  }
}
