.notification {
  text-align: center;
}

.move-box-container {
  width: 20vw;
  max-width: 250px;
  min-width: 180px;
  overflow-y: scroll;
  margin-left: 10px;
  padding: 10px;
  height: calc(100vh - 80px);
  align-items: center;
}
