@import 'node_modules/bootstrap/scss/bootstrap';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgb(234, 232, 230);
  color: black;
  overflow-x: hidden;
  overscroll-behavior-y: none;
}

button {
  background-color: white;
  margin-left: 1vmin;
  margin-right: 1vmin;
  transition: background-color 0.5s;
}

.nav-button {
  width: 4vmin;
  height: 4vmin;
  padding: 2%;
}

.opening-name {
  font-size: calc(7px + 3vmin);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1vmin;
  margin-bottom: 1vmin;
  height: 5vmin;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 3fr 3fr 200px 2fr;
  grid-gap: 1x;
  margin-top: 24px;
}

button:hover {
  background-color: #dddddd;
}

button[disabled] {
  opacity: 0.4;
  cursor: not-allowed !important;
  background-color: white;
}
